@use './config-scss/variables.scss';
@use './config-scss/reset.scss';
@use './config-scss/rem-calc.scss';
@use './config-scss/btn.scss';
@use './config-scss/animaton.scss';

html {
	font-family: 'Roboto', sans-serif;
	background: var(--primary-color);
}

main {
	max-width: 600px;
	box-sizing: border-box;
	padding: 30px 20px;
	margin: 0 auto;
}